$mobile-screen: 512px;
$small-screen: 768px;
$large-screen: 993px;
$m-large-screen: 1047px;
$x-large-screen: 1400px;
@mixin respond-to($media) {
  @if $media==mobile-screen {
    @media only screen and (max-width: $mobile-screen) {
      @content;
    }
  }
  @if $media==small-screen {
    @media only screen and (max-width: $small-screen) {
      @content;
    }
  }
  @else if $media==medium-screen {
    @media only screen and (min-width: $small-screen + 1) and (max-width: $large-screen - 1) {
      @content;
    }
  }
  @else if $media==large-screen {
    @media only screen and (min-width: $large-screen) {
      @content;
    }
  }
  @else if $media==m-large-screen {
    @media only screen and (min-width: $m-large-screen) {
      @content;
    }
  }
  @else if $media==x-large-screen {
    @media only screen and (min-width: $x-large-screen) {
      @content;
    }
  }
  @else if $media==not-small-screen {
    @media only screen and (min-width: $small-screen) {
      @content;
    }
  }
  @else if $media==not-large-screen {
    @media only screen and (max-width: $large-screen - 1) {
      @content;
    }
  }
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 12pt;
}

.container-responsive {
  max-width: 512px;
  margin: auto;
  @include respond-to(mobile-screen) {
    max-width: 260px;
  }
  @include respond-to(medium-screen) {
    max-width: 768px;
  }
  @include respond-to(m-large-screen) {
    max-width: 768px;
  }
  @include respond-to(x-large-screen) {
    max-width: 1200px;
  }
}

body {
  background-color: #eee;
  #main-container {
    transition: padding 0.5s;
    &.fixed-navbar {
      padding-top: 64px;
    }
  }
  .side-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 100%;
    max-height: calc(100% - 64px);
    left: 0;
    top: 64px;
    transition: left 0.5s, background-color 0.5s, box-shadow 0.5s;
    @extend %scrollbar-helper;
    @include respond-to(large-screen) {
      &+#main-container {
        padding-left: 280px;
      }
      &.active {
        left: -280px;
        &+#main-container {
          padding-left: 0;
        }
      }
    }
    @include respond-to(not-large-screen) {
      max-height: 100%;
      &:not(.active) {
        left: -280px;
      }
    }
    .footer {
      flex: 0 0 auto;
      padding: 8px 16px;
      color: rgba(0, 0, 0, 0.55);
    }
    .body {
      flex: 1 0 auto;
      .title {
        display: none;
        padding: 16px 0 0 24px;
        font-size: 1.8rem;
        color: rgba(0, 0, 0, 0.55);
        @include respond-to(not-large-screen) {
          display: block;
        }
      }
    }
    .tool-bar {
      display: none;
      height: 64px;
      background-color: rgba(0, 0, 0, 0.05);
      @include respond-to(not-large-screen) {
        display: block;
      }
    }
    @include respond-to(not-large-screen) {
      left: 0;
      top: 0;
      height: 100vh;
      z-index: 1000;
      background-color: #fff;
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
    }
  }
}

.tool-bar {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0 8px;
  height: 48px;
  line-height: 48px;
  .title {
    padding-left: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.55)
  }
  &.small {
    height: 34px;
    line-height: 34px;
  }
}

.card {
  .card-content {
    padding: 16px;
  }
  .card-action {
    padding: 16px;
  }
}

nav {
  &.fixed {
    position: fixed;
    z-index: 1000;
  }
  .nav-wrapper {
    padding: 0 8px;
    .title {
      position: relative;
      color: inherit;
      margin: 0 36px 0 16px;
      font-size: 1.8rem;
    }
    #profile-options {
      padding: 0 4px 0 32px;
    }
    .search {
      padding: 8px 16px 8px 0;
      max-width: 720px;
      .input-field {
        input {
          border-radius: 5px;
          background-color: rgba(0, 0, 0, 0.05);
          transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
          &:focus {
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          }
        }
        label {
          transform: none;
        }
        .material-icons {
          line-height: 52px;
          font-size: 1.5rem;
          @include respond-to(small-screen) {
            line-height: 46px;
          }
        }
      }
    }
  }
}

ul {
  list-style-type: none;
  color: inherit;
  li.collection-btn {
    color: inherit;
    a {
      display: block;
      color: inherit;
      line-height: inherit;
    }
    i.material-icons {
      line-height: inherit;
      height: inherit;
      color: inherit;
    }
  }
  &.horizontal {
    height: inherit;
    line-height: 0;
    margin: 0;
    &>li.collection-btn {
      display: inline-block;
      height: inherit;
      line-height: inherit;
      &>a {
        cursor: pointer;
        -webkit-transition: background-color .3s;
        transition: background-color .2s, box-shadow 0.2s;
        font-size: 1rem;
        padding: 0 15px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
      &.circle {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        height: 48px;
        width: 48px;
        line-height: 48px;
        &.small {
          height: 34px;
          width: 34px;
          line-height: 34px;
          &>a>i.material-icons {
            font-size: 1.2rem;
          }
        }
        &>a {
          height: inherit;
          width: inherit;
          padding: 0;
          border-radius: 50%;
          &.floating {
            @extend %z-depth-0;
            &:hover {
              @extend %z-depth-1;
            }
          }
          &>i.material-icons {
            width: inherit;
            height: inherit;
            text-align: center;
          }
        }
      }
    }
  }
  &.vertical {
    width: 100%;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    &>li.collection-btn {
      min-height: 40px;
      line-height: 40px;
      transition: background-color 0.1s;
      padding: 4px 0;
      cursor: pointer;
      &>a {
        min-height: inherit;
        padding: 0 16px 0 24px;
      }
      &>a>i.material-icons {
        float: left;
      }
      &>a>span:not(.badge) {
        display: inline-block;
        padding-left: 32px;
        line-height: inherit;
        min-height: inherit;
        color: inherit;
        font-size: 0.9rem;
      }
      &>a>span.badge {
        padding: 0;
        transform: translateY(50%);
        &:empty {
          display: none;
        }
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
      &.small {
        min-height: 24px;
        line-height: 24px;
        &>a {
          padding: 0 8px 0 12px;
          &>i.material-icons {
            font-size: 1.1rem;
          }
          &>span:not(.badge) {
            font-size: 0.9rem;
            padding-left: 12px;
          }
        }
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.popover {
  position: absolute;
  border-radius: 2px;
  z-index: 10000;
  overflow: hidden;
  pointer-events: none;
  box-shadow: none;
  .popover-body {
    opacity: 0;
    margin: 0;
    box-shadow: none;
    z-index: 10001;
    background-color: #fff;
  }
  .popover-grow {
    position: absolute;
    padding: 0;
    top: -50%;
    left: -50%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 1;
    z-index: -1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: padding 0.5s;
    &.right {
      left: unset;
      right: -50%;
    }
    &.bottom {
      top: unset;
      bottom: -50%;
    }
  }
  &.active {
    transition: box-shadow 1s;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    pointer-events: unset;
    .popover-grow {
      transition: padding 0.5s;
      padding: 100%;
    }
    .popover-body {
      transition: opacity steps(1) 0.25s;
      opacity: 1;
      &>div {
        margin: 0;
      }
    }
  }
}

.avatar {
  @extend .circle;
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  padding: 0;
  margin: 0;
  i.material-icons {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    text-align: center;
    width: inherit;
    height: inherit;
    line-height: inherit;
    font-size: 2rem;
  }
  &.small {
    width: 32px;
    height: 32px;
    line-height: 32px;
    i.material-icons {
      font-size: 1.4rem;
    }
  }
}

ul.comment-container {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s;
  .comment {
    position: relative;
    min-height: 64px;
    transition: background-color 0.2s;
    padding: 8px 8px 8px 58px;
    @extend .border;
    .avatar {
      position: absolute;
      left: 8px;
      &.small {
        left: 8px;
        top: 16px;
      }
    }
    .timestamp {
      float: right;
      display: none;
      font-size: 0.8rem;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.35);
      padding: 0 8px;
    }
    .title {
      @extend .truncate;
      font-size: 1rem;
    }
    .body {
      margin: 0;
      font-size: 0.9rem;
    }
    .comment-input {
      margin: 0;
      font-size: 0.9rem;
      padding: 14px 0;
      width: 100%;
      &+.comment-toolbar {
        transition: color 0.2s;
        color: #039be5;
      }
      &:focus {
        outline: none;
      }
      &:empty {
        color: rgba(0, 0, 0, 0.45);
        cursor: text;
        &::after {
          content: "Add a comment...";
        }
        &+.comment-toolbar {
          color: rgba(0, 0, 0, 0.125);
        }
      }
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.025);
      .timestamp {
        display: inline-block;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
  &.active {
    max-height: 1000px;
  }
}

.title {
  color: inherit;
  font-size: 1.8rem;
}

.border {
  border-bottom: 1px solid #ddd;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex {
  display: flex;
  &.flex-col {
    flex-direction: column;
  }
  &.flex-row {
    flex-direction: row;
  }
}

.flex-md {
  flex: 1 0 auto;
}

.rotate-180 {
  transform: rotateX(180deg);
}

.circle {
  border-radius: 50%;
}

#ticket-container {
  margin: 0 auto;
  .grid-sizer {
    width: 240px;
    margin: 8px;
  }
}

.ticket {
  width: 240px;
  margin: 8px;
  transition: top 0.3s, left 0.3s, width 0.3s, transform 0.3s, box-shadow 0.5s;
  &.selected {
    top: 50% !important;
    left: 50% !important;
    min-width: 240px;
    max-width: 1240px;
    width: 80%;
    transform: translateX(-50%);
    z-index: 1000;
    @extend %z-depth-5;
    transition: top 0.3s, left 0.3s, width 0.3s, transform 0.3s, box-shadow 0.5s, opacity steps(1) 0.5s;
  }
}

%scrollbar-helper {
  overflow-y: overlay;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    transition: background-color 0.2s;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.35)
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}

%z-depth-0 {
  box-shadow: 0;
}

%z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

%z-depth-1-half {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

%z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

%z-depth-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

%z-depth-4 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

%z-depth-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}